.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Header {
  background-image: url('https://www.co.wallowa.or.us/sites/g/files/vyhlif10466/files/media/home-page/image/71/road.jpg');
  background-size: cover;
  box-shadow: 0 10px 50px #61dafb;
}

.header {
  font-family: "Sedgwick Ave Display";
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  color: #61dafb;
  text-shadow: -2px -2px 0 #000, -2px -2px #000;
}

.head-pic {
  width: 400px;
  height: 180px;
  border-radius: 12px;
  box-shadow: 0 20px 80px black;
}

.navbar {
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  font-family: Arial;
  text-align: center;
  font-weight: lighter;
  color: White;
  border: #61dafb solid;
  border-width: 3px;
  border-radius: 100px;
  width: fit-content; 
  margin: 0 auto;
  box-shadow: 0 10px 50px #61dafb;
}

.navrow {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  position: relative;
  color: #61dafb;
  text-decoration: none;
  align-items: center;
  display: flex; 
  padding: 10px; 
  margin: 0 10px; 
  transition: border-color 0.6s ease;
}

.nav-link:hover {
  border-left: .5px solid #61dafb; 
  border-top: none; 
  border-bottom: none; 
}

.nav-link:hover::after {
  content: '';
  display: block;
  width: 50px; 
  height: 2px; 
  background-color: #61dafb;
  position: absolute;
  bottom: -2px; 
  left: 0; 
}

.nav-image {
  width: 150px;
  height: 100px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 20px 20px #61dafb;
}

.nav-text {
  position: relative;
  top: 15px;
  left: -105px;
  margin-left: 0px;
  margin-right: 0px;
}

.nav-image#sell {
  position: relative;
  left: 40px;
}

.new-car-form {
  max-width: 550px; 
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 50px #61dafb;
  background-color: #f9f9f9;
  font-family: "Sedgwick Ave Display";
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color: #61dafb;
  text-shadow: -2px -2px 0 #000, -2px -2px #000;
}
.new-listings-heading {
  font-family: "Sedgwick Ave Display";
  text-decoration: underline;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  color: #61dafb;
  text-shadow: -2px -2px 0 #000, -2px -2px #000;
}

.form-group {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 5px 7px #61dafb;
}

button[type="submit"] {
  background-color: #129fc6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #14c4f5;
}

.card {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #61dafb;
  width: 280px; 
  margin-right: 20px; 
  margin-bottom: 20px; 
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  border-width: 0.5px;
  box-shadow: 0 4px 8px ;
  background-color: #fff; 
  display: inline-block;
  vertical-align: top; 
  box-sizing: border-box;
}

.search-bar {
  width: 20%;
  position: relative;
  left: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

.search-input {
  width: 300px; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-input:focus {
  border-color: #66afe9;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}


.search-input::placeholder {
  color: #000; 
  opacity: 1; 
}

.listings-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  justify-content: center; 
}

.listing {
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: left;
  color: #61dafb;
  width: 280px; 
  margin-right: 20px; 
  margin-bottom: 20px; 
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  border-width: 0.5px;
  box-shadow: 0 4px 8px ;
  background-color: #fff; 
  display: inline-block;
  vertical-align: top; 
  box-sizing: border-box;
}

.listing img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.listing p {
  text-align: center;
  margin-bottom: 8px; 
}

.listing h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.card-content {
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px #61dafb;
}


.new-form img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}


.search-label#label {
  text-shadow: -2px -2px 0 #000, -2px -2px #000;
}

.primary {
  color: black;
  background-color: green;
  border-color: black;
}

.secondary {
  color: black;
  background-color: red;
  border-color: black;
}

.listing-details button {
  margin-right: 1000px;
}







