.col-1 {
    text-align: center;
}

.contact {
    text-decoration: underline;
}

.col-2 {
    text-decoration: underline;
    text-align: center;
}

.col-3 {
    text-decoration: underline;
    text-align: center;
}